<div class="w-full max-w-3xl mx-auto">
  @if (showStepper()) {
    <div class="mb-2">
      <app-stepper [currentStep]="currentStep()"></app-stepper>
    </div>
  }

  <section aria-label="Formulário de avaliação de imóvel">
    @switch (currentStep()) {
        @case (1) {
            <!-- Step 1: Informações da Propriedade -->
            <app-property-info
                    [initialData]="valuationData()"
                    (nextStep)="handleNextStep($event)"></app-property-info>
        }
        @case (2) {
            <!-- Step 2: Detalhes da Propriedade -->
            <app-property-details
                    [initialData]="valuationData()"
                    (nextStep)="handleNextStep($event)"
                    (previousStep)="handlePreviousStep()"></app-property-details>
        }
        @case (3) {
            <!-- Step 3: Estimativa de Preço -->
            <app-price-estimation
                    [initialData]="valuationData()"
                    (nextStep)="handleEstimationResponse($event)"
                    (requestNewEstimation)="restart()"
                    (previousStep)="handlePreviousStep()"></app-price-estimation>
        }
        @case (4) {
            <!-- Step 4: Formulário de Contacto -->
            <app-contact-form
                    [initialData]="valuationData()"
                    (nextStep)="handleNextStep($event)"
                    (previousStep)="handlePreviousStep()"></app-contact-form>
        }
        @case (5) {
            <!-- Step 5: Confirmação -->
            <app-confirmation
                    [success]="submissionSuccess()"
                    [error]="submissionError()"
                    (restart)="restart()"></app-confirmation>
        }
    }
  </section>
</div>
