name: Deploy Frontend to Lightsail

on:
  push:
    branches:
      - master # ou main, dependendo do seu branch principal

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_FRONTEND_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Get latest backend image URI
        id: backend-image
        run: |
          LATEST_BACKEND_TAG=$(aws ecr describe-images --repository-name ${{ secrets.ECR_BACKEND_REPOSITORY }} --query 'sort_by(imageDetails, &imagePushedAt)[-1].imageTags[0]' --output text)
          # Se não encontrar tag, força 'latest'
          if [ "$LATEST_BACKEND_TAG" == "None" ]; then LATEST_BACKEND_TAG="latest"; fi
          
          REGISTRY_URL="900294350529.dkr.ecr.us-east-1.amazonaws.com"
          echo "uri=$REGISTRY_URL/${{ secrets.ECR_BACKEND_REPOSITORY }}:$LATEST_BACKEND_TAG" >> $GITHUB_OUTPUT

      - name: Prepare deployment file
        run: |
          # 1. Cria o arquivo final a partir do template
          cp lightsail-deployment.json final-deployment.json
          
          # 2. Substitui as imagens (usando | como delimitador para evitar erro com barras da URL)
          sed -i "s|IMAGE_PLACEHOLDER_FRONTEND|${{ steps.build-image.outputs.image }}|g" final-deployment.json
          sed -i "s|IMAGE_PLACEHOLDER_BACKEND|${{ steps.backend-image.outputs.uri }}|g" final-deployment.json
          
          # 3. Substitui as variáveis de ambiente pelos Segredos do GitHub
          sed -i "s|DATASOURCE_URL|${{ secrets.DATASOURCE_URL }}|g" final-deployment.json
          sed -i "s|DATASOURCE_USERNAME|${{ secrets.DATASOURCE_USERNAME }}|g" final-deployment.json
          sed -i "s|DATASOURCE_PASSWORD|${{ secrets.DATASOURCE_PASSWORD }}|g" final-deployment.json
          
          # 4. Debug: Mostra o JSON (Ocultando a senha por segurança)
          cat final-deployment.json | sed 's/${{ secrets.DATASOURCE_PASSWORD }}/****** /g'

      - name: Deploy to Amazon Lightsail
        run: |
          aws lightsail create-container-service-deployment --cli-input-json file://final-deployment.json

